* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    min-width: 320px;
    position: relative;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

input, textarea {
    background-color: #F6F6F6;
    font-family: 'Open Sans', sans-serif;
}

input::placeholder,
textarea::placeholder {
    color: #9F9F9F;
}

.def-btn {
    background-color: #D62E4C;
    padding: 15px 45px;
    display: inline-block;
    transition: background-color 0.35s ease;
    font-size: 16px;
    color: #ffff;
}

.def-btn:hover {
    background-color: #BB2440;
}

.def-title {
    font-size: 42px;
    font-weight: 700;
    position: relative;
    margin-bottom: 25px;
    line-height: 1.3;
}

.center-title {
    font-size: 42px;
    font-weight: 700;
    color: #000;
    text-align: center;
    margin-bottom: 40px;
    line-height: 1.3;
}

.center-title::after {
    content: '';
    height: 1px;
    width: 70px;
    background-color: #D62E4C;
    display: block;
    margin: 15px auto 0 auto;
}

.color-white {
    color: #fff;
}

.center-title.color-white::after {
    background-color: #fff;
}

.def-title::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 33px;
    left: calc(-100% - 25px);
    background-color: #D62E4C;
}

.def-desc {
    color: #6d6a6a;
    font-size: 14px;
    line-height: 1.9;
}

.def-desc strong {
    color: #000;
}

.header-top {
    background-color: #18353E;
    color: #ffff;
    padding: 18px 0 55px 0;
    font-size: 14px;
}

.header-row {
    display: flex;
}

.header-right {
    display: flex;
    column-gap: 74px;
    margin-left: auto;
}

.header-info {
    display: flex;
    align-items: center;
}

.header-info img {
    margin-right: 16px;
    max-width: 21px;
}

.header-social {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.header-bottom {
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1200px;
    width: 100%;
}

.header-bottom-row {
    display: flex;
    background-color: #D62E4C;
    color: #ffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.11);
}

.header-logo {
    background-color: #ffff;
    padding: 15px 60px 15px 40px;
    display: flex;
    align-items: center;
    clip-path: polygon(0px 0px, 100% 0%, 82.68% 101.20%, 0px 100%);
}

.header-logo img {
    max-width: 160px;
}

.header-nav {
    padding: 10px 60px;
    margin-left: auto;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    column-gap: 50px;
}

.banner-swiper .swiper-slide {
    padding: 175px 0;
    color: #ffff;
    text-align: center;
    min-height: 640px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-swiper .swiper-slide::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 31, 31, 0.80);
    z-index: -1;
}

.banner-content {
    max-width: 750px;
    margin: 0 auto;
}

.banner-subtitle {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.banner-title {
    font-size: 46px;
    font-weight: 300;
    line-height: 1.3;
}

.swiper-button-next {
    right: 40px;
}

.swiper-button-prev {
    left: 40px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #ffff;
    background-color: #5a5454;
    width: 60px;
    height: 60px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 28px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    bottom: 30px;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border-radius: 0;
    background-color: #d9d9d9;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #D62E4C;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px;
}

.s-about {
    padding: 90px 0;
}

.about-row {
    display: flex;
    align-items: center;

}

.s-about .def-desc {
    margin-bottom: 30px;
}

.about-left {
    margin-right: 90px;
    max-width: 505px;
}

.about-right {
    width: 550px;
}

.about-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.s-numbers {
    background-color: #18353E;
    padding: 72px 0;
}

.s-numbers .def-title::before {
    background-color: #ffff;
}

.numbers-row {
    display: flex;
}

.numbers-left {
    width: 50%;
    border-right: 1px solid #d5d5d5;
}

.numbers-right {
    width: 50%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
    row-gap: 60px;
    text-align: center;
    color: #FFFFFF;
}

.numbers-num1,
.numbers-num2,
.numbers-num3,
.numbers-num4{
    font-size: 52px;
    font-weight: 900;
    margin-bottom: 5px;
    line-height: 1.3;
}

.numbers-desc {
    font-weight: 300;
}

.s-services {
    padding: 100px 0;
}

.services-row {
    display: flex;
    column-gap: 35px;
}

.services-item {
    box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 33.3%;
}

.services-thumb img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-body {
    padding: 15px 20px 30px 20px;
}

.services-title {
    font-size: 20px;
}

.services-btn {
    width: 100%;
    text-align: center;
    padding: 12px 45px;
}

.modal-form {
    background-color: #fff;
    max-width: 465px;
    margin: 0 auto;
    padding: 20px 45px 50px 45px;
}

.modal-form-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d5d2d2;
    margin-bottom: 30px;
    padding-bottom: 18px;
}

.modal-form-logo img {
    max-width: 190px;
}

.modal-form-close {
    cursor: pointer;
}

.modal-form-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.modal-form-title::after {
    content: '';
    display: block;
    height: 1px;
    width: 70px;
    background-color: #D62E4C;
    margin: 20px auto 0 auto;
}

.modal-form input {
    display: block;
    padding: 22px 25px;
    background-color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: none;
    width: 100%;
    outline: none;
    margin-bottom: 24px;
}

.modal-form .form-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #D62E4C;
    color: #fff;
    max-width: 285px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.35s ease;
}

.modal-form .form-button:hover {
    background-color: #c32a45;
}

/* ====== Zoom effect ====== */
.mfp-zoom-in {
    /* start state */
    /* animate in */
    /* animate out */
}

.mfp-zoom-in .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
    transform: scale(0.8);
    opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}

/* ====== Newspaper effect ====== */
.mfp-newspaper {
    /* start state */
    /* animate in */
    /* animate out */
}

.mfp-newspaper .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.5s;
    transform: scale(0) rotate(500deg);
}

.mfp-newspaper.mfp-bg {
    opacity: 0;
    transition: all 0.5s;
}

.mfp-newspaper.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1) rotate(0deg);
}

.mfp-newspaper.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-newspaper.mfp-removing .mfp-with-anim {
    transform: scale(0) rotate(500deg);
    opacity: 0;
}

.mfp-newspaper.mfp-removing.mfp-bg {
    opacity: 0;
}

/* ====== Move-horizontal effect ====== */
.mfp-move-horizontal {
    /* start state */
    /* animate in */
    /* animate out */
}

.mfp-move-horizontal .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s;
    transform: translateX(-50px);
}

.mfp-move-horizontal.mfp-bg {
    opacity: 0;
    transition: all 0.3s;
}

.mfp-move-horizontal.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: translateX(0);
}

.mfp-move-horizontal.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-move-horizontal.mfp-removing .mfp-with-anim {
    transform: translateX(50px);
    opacity: 0;
}

.mfp-move-horizontal.mfp-removing.mfp-bg {
    opacity: 0;
}

/* ====== Move-from-top effect ====== */
.mfp-move-from-top {
    /* start state */
    /* animate in */
    /* animate out */
}

.mfp-move-from-top .mfp-content {
    vertical-align: top;
}

.mfp-move-from-top .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s;
    transform: translateY(-100px);
}

.mfp-move-from-top.mfp-bg {
    opacity: 0;
    transition: all 0.2s;
}

.mfp-move-from-top.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: translateY(0);
}

.mfp-move-from-top.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-move-from-top.mfp-removing .mfp-with-anim {
    transform: translateY(-50px);
    opacity: 0;
}

.mfp-move-from-top.mfp-removing.mfp-bg {
    opacity: 0;
}

/* ====== 3d unfold ====== */
.mfp-3d-unfold {
    /* start state */
    /* animate in */
    /* animate out */
}

.mfp-3d-unfold .mfp-content {
    perspective: 2000px;
}

.mfp-3d-unfold .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
}

.mfp-3d-unfold.mfp-bg {
    opacity: 0;
    transition: all 0.5s;
}

.mfp-3d-unfold.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: rotateY(0deg);
}

.mfp-3d-unfold.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-3d-unfold.mfp-removing .mfp-with-anim {
    transform: rotateY(60deg);
    opacity: 0;
}

.mfp-3d-unfold.mfp-removing.mfp-bg {
    opacity: 0;
}

/* ====== Zoom-out effect ====== */
.mfp-zoom-out {
    /* start state */
    /* animate in */
    /* animate out */
}

.mfp-zoom-out .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
}

.mfp-zoom-out.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.mfp-zoom-out.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}

.mfp-zoom-out.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-zoom-out.mfp-removing .mfp-with-anim {
    transform: scale(1.3);
    opacity: 0;
}

.mfp-zoom-out.mfp-removing.mfp-bg {
    opacity: 0;
}

.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
    opacity: 0;
    transition: opacity .5s ease-out;
}

.mfp-with-fade.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-with-fade.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-fade.mfp-removing.mfp-bg {
    opacity: 0;
}

.s-gallery {
    padding: 100px 0;
    background-color: #f9f9f9;
}

.gallery-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.gallery-wrap a {
    display: block;
    position: relative;
    overflow: hidden;
}

.gallery-item:nth-child(n+7) {
    display: none;
}

.gallery-wrap a:hover::before,
.gallery-wrap a:hover::after,
.gallery-wrap a:hover .gallery-border {
    opacity: 1;
}

.gallery-wrap a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-wrap a::before {
    content: 'Увеличить';
    background-color: rgba(68, 62, 62, 0.72);;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    padding-top: 50px;
    margin-top: -20px;
    opacity: 0;
    transition: 0.5s ease;
}

.gallery-wrap a::after {
    content: '';
    background-image: url("../images/magnify.svg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    z-index: 1;
    position: absolute;
    margin-top: -20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease;
}

.gallery-border {
    border: 1px solid #FFF;
    width: calc(100% - 35px);
    height: calc(100% - 35px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease;
}

.gallery-btn {
    text-align: center;
    margin-top: 44px;
}

.s-why {
    padding: 100px 0;
}

.why-row {
    display: flex;
    align-items: center;
}

.why-left {
    max-width: 505px;
    margin-right: 30px;
}

.s-why .def-desc {
    margin-bottom: 55px;
}

.why-features-item {
    display: flex;
    margin-bottom: 45px;
    max-width: 350px;
}

.why-features-icon {
    margin-right: 15px;
}

.why-features-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.why-features-desc {
    color: #6d6d6d;
}

.why-right {
    margin-left: auto;
}

.s-team {
    padding: 100px 0;
    background-color: #f9f9f9;
}

.team-item {
    box-shadow: 0px 4px 4px 0px rgba(95, 87, 87, 0.12);
    height: 100%;
}

.team-row {
    display: flex;
    column-gap: 35px;
}

.team-thumb img {
    max-width: 100%;
    display: block;
}

.team-body {
    background-color: #FFFFFF;
    padding: 20px 30px;
}

.team-profi {
    text-transform: uppercase;
    color: #c2c1c1;
    margin-bottom: 5px;
}

.team-name {
    font-size: 24px;
    font-weight: 700;
}

.s-reviews {
    padding: 100px 0;
}

.s-reviews .swiper-pagination {
    bottom: 0;
    position: static;
    margin-top: 40px;
}

.reviews-item {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(95, 87, 87, 0.12);
}

.reviews-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews-body {
    padding: 5px 30px 20px 30px;
}

.reviews-name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}

.reviews-profi {
    font-weight: 500;
    color: #979494;
    margin-bottom: 15px;
}

.reviews-comment {
    color: #8a8787;
    margin-bottom: 20px;
}

.reviews-social {
    border-top: 1px solid #c5b8b8;
    padding-top: 20px;
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.reviews-social a {
    display: inline-block;
    transition: filter 0.5s ease;
}

.reviews-social a:hover {
    filter: invert(1);
}

.s-partners {
    padding: 30px 0;
}

.partners-row {
    display: flex;
    align-items: center;
    column-gap: 70px;
    animation: move 20s linear infinite;
}

.partners-item img {
    max-width: 250px;
    max-height: 50px;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.s-form {
    padding: 80px 0;
    background-color: #f9f9f9;
}

.form-row {
    display: flex;
    align-items: center;
}

.form-left {
    max-width: 500px;
    margin-right: 70px;
}
.s-form .def-desc{
    margin-bottom: 30px;
}
.form-image img {
    max-width: 100%;
}
.form-right{
    width: 425px;
}
.form-right form{
    background-color: #FFFFFF;
    padding: 60px 45px;
    position: relative;
    box-shadow: 0px -1px 8px 4px rgba(88, 83, 83, 0.12);
}
.form-right form::before{
    content: '';
    width: 100%;
    height: 10px;
    background-color: #D62E4C;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}
.form-right form input,
.form-right form textarea{
    font-size: 14px;
    font-family: Montserrat;
    display: block;
    width: 100%;
    padding: 22px 30px;
    background-color: #f6f6f6;
    border: none;
    outline: none;
    margin-bottom: 24px;
}
.form-button{
    border: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    padding: 15px 65px;
}
.site-footer{
    background-color: #1C2835;
    color: #FFFFFF;
    font-size: 14px;
}
.footer-row{
    display: flex;
}
.footer-left{
    padding: 60px 60px 60px 0;
    max-width: 268px;
    border-right: 1px solid rgba(239, 239, 239, 0.24);
;
}
.footer-logo{
    margin-bottom: 25px;
}
.footer-right{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 60px 60px;
}
.footer-desc{
    color: #d2d2d2;
    line-height: 1.7;
}
.footer-title{
    font-size: 18px;
    margin-bottom: 18px;
}
.footer-nav ul{
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    color: #e0e0e0;
}
.footer-nav ul li:nth-last-child(n+2){
    margin-bottom: 15px;
}
.footer-nav ul li a:hover{
    color: #FFFFFF;
}
.footer-info-item{
    display: flex;
    align-items: center;
}
.footer-info-item:nth-last-child(n+2){
    margin-bottom: 22px;
}
.footer-info-icon{
    margin-right: 14px;
}
.footer-info-icon img{
    vertical-align: middle;
    transform: translateY(-2px);
}
.footer-social{
    display: flex;
    column-gap: 30px;
}
.footer-social a{
    transition: 0.35s ease;
}
.footer-social a:hover img{
    filter:brightness(3);
}
.footer-copyright{
    border-top: 1px solid rgba(239, 239, 239, 0.24);
    padding: 24px 0 30px 0;
    text-align: center;
    color: #d5d2d2;
}
.header-mobile-logo{
    display: none;
}
