@media screen and (max-width: 1200px) {
    .advantages {
        grid-template-columns: repeat(2, 220px);
    }

    .choice__products {
        grid-template-columns: repeat(2, 263px);
        justify-content: center;
        row-gap: 136px;
    }
}

@media screen and (max-width: 1024px) {
    .order {
        position: relative;
    }

    .order__image {
        position: absolute;
        left: 330px;
        top: 280px;
    }

    .order__image img {
        margin-right: 0;
    }

    .order__info {
        max-width: 410px;
    }

    .order__image-strawberry-one img {
        left: 320px;
        bottom: 5px;
    }

    .order__image-strawberry-two img {
        left: 570px;
        bottom: 150px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .main {
        position: relative;
        padding: 64px 0 420px 0;
    }

    .menu__phone a {
        display: none;
    }

    .main__image {
        position: absolute;
        bottom: 62px;
        right: 55px;
    }

    .main__info-text {
        max-width: 348px;
    }

    .main__image::before {
        width: 150px;
        height: 150px;
    }

    .history .container:first-child {
        flex-direction: column;
    }

    .history__image img {
        max-width: 302px;
    }

    .history__info {
        text-align: center;
    }

    .history__info-title h1 {
        display: inline-block;
    }

    .history__info-text {
        max-width: 668px;
    }

    .advantages {
        column-gap: 54px;
        row-gap: 80px;
    }

    .advantage {
        text-align: center;
    }

    .advantage__ellipse {
        margin: 0 auto 13px;
    }

    .choice__product {
        position: relative;
    }
}



@media screen and (max-width: 740px) {
    .order__image img {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .main {
        padding: 54px 0 43px;
    }

    .main__image {
        position: relative;
        margin-top: 38px;
        right: auto;
        bottom: auto;
    }

    .main .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 658px) {
    .choice__products {
        grid-template-columns: repeat(1, 280px);
    }
}

@media screen and (max-width: 641px) {
    .order__image-strawberry-two img {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .footer .container {
        grid-template-areas:
          "logo"
          "number"
          "social"
            "rights";
        text-align: center;
        justify-content: center;
    }

    .footer__phone {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 568px) {
    .advantages {
        grid-template-columns: repeat(2, 165px);
        column-gap: 15px;
        row-gap: 36px;
    }

    .advantage__title {
        font-size: 18px;
    }

    .advantage__text {
        font-size: 13px;
    }
}

@media screen and (max-width: 563px) {
    .main__image img {
        width: 100%;
        max-width: 350px;
    }

    .menu ul {
        width: 100%;
    }

    .main__info-title {
        margin-bottom: 40px;
    }

    .main__info-title h1 {
        font-size: 32px;
    }

    .main__info-text {
        margin-bottom: 40px;
    }

    .menu__item a {
        font-size: 24px;
        color: rgb(255, 218, 224);
    }

    .menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
        top: 0;
        background: #202020c9;
        z-index: 9999;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu__item {
        margin: 15px 0;
    }

    .history__image img {
        width: 100%;
    }

    .order__image-strawberry-two img {
        display: none;
    }

    .order__image {
        display: none;
    }

    .footer {
        display: block;
    }

    .burger {
        display: block;
    }

    .menu__phone {
        display: none;
    }

    .menu.open {
        display: flex;
        align-items: center;
    }

    .menu .close {
        display: block;
        width: 24px;
        height: 24px;
        fill: rgb(164, 107, 0);
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .order__info-choice-input{
        max-width: 480px;
    }
    .order__info-data-input-name{
        max-width: 480px;
    }
    .order__info-data-input-number{
        max-width: 480px;
    }
    .order__action .btn{
        max-width: 480px;
    }
}

@media screen and (max-width: 417px) {
    .order__image-strawberry-one img {
        display: none;
    }

    .order__info-text {
        margin-top: 20px;
    }
}

@media screen and (max-width: 375px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .main .container {
        text-align: center;
        flex-direction: column;
        gap: 40px;
    }

    .main__info-text {
        font-size: 16px;
    }

    .history .container {
        text-align: center;
    }

    .history__info-title {
        margin-bottom: 40px;
    }

    .history__info-title h1 {
        font-size: 30px;
    }

    .history__info-text {
        font-size: 16px;
    }

    .main__info-text {
        font-size: 13px;
    }

    .caption {
        font-size: 30px;
    }
    .order__data {
        text-align: center;
    }

    .order__image-strawberry-one img {
        top: -150px;
        left: 200px;
    }

    .order__info-title h2 {
        font-size: 30px;
    }

    .order__info-text {
        margin-top: 20px;
        font-size: 16px;
    }

    .order__info-choice-input {
        width: 100%;
    }

    .order__info-data-input-name {
        width: 100%;
    }

    .order__info-data-input-number {
        width: 100%;
    }

    .order__action .btn {
        width: 100%;
    }
}

@media screen and (max-width: 374px) {
    .advantages {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 320px) {

    .choice .container {
        padding: 0 35px;
    }

    .order__info-text {
        margin-top: 20px;
    }
}
