* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: none;
}

@font-face {
    font-family: 'MillerRegular';
    src: url("../fonts/MullerRegular.otf");
}

@font-face {
    font-family: 'MillerBold';
    src: url("../fonts/MullerBold.otf");
}

@font-face {
    font-family: 'MillerExtraBold';
    src: url("../fonts/MullerExtraBold.otf");
}

body {
    font-family: 'MillerRegular', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    padding: 16px 0 15px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {

}

.menu ul {
    display: flex;
    width: 489px;
    justify-content: space-between;
}

.menu__item a {
    font-size: 16px;
    color: rgb(164, 107, 0);
    line-height: 1;
}
.menu__item a:hover{
    color: #ffaf18;
    border-bottom: 2px solid #ffaf18;
}
.main {
    padding: 132px 0 81px 0;
}

.main__info {
    max-width: 622px;
}

.main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__info h1 {
    font-family: 'MillerExtraBold', sans-serif;
    font-size: 45px;
    line-height: 1.222;
}

.double__title {
    color: rgb(185, 145, 80);
}

.double__title span {
    color: #ffaf18;
}

.main__advantages {
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantage {
    max-width: 306px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px;
}

.advantage__text {
    margin-left: 16px;
}

.advantage__title {
    font-size: 16px;
    font-family: 'MillerExtraBold', sans-serif;
    color: rgb(255, 175, 24);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantage__descr {
    font-size: 16px;
    color: rgb(185, 145, 80);
}

.main__action {
    margin-top: 60px;
}

.btn {
    background-color: rgb(255, 175, 24);
    width: 224px;
    height: 60px;
    cursor: pointer;
    padding: 22px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'MillerBold', sans-serif;
    color: rgb(56, 36, 0);
}
.btn:hover{
    background-color: wheat;
}

.products {
    padding: 80px 0 120px 0;
}

.products__title {
    font-size: 35px;
    font-family: 'MillerBold', sans-serif;
    color: rgb(189, 152, 92);
    text-align: center;
}

.products__items {
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    width: 282px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: 24px;
}

.products__item-img {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__item-title {
    font-size: 18px;
    font-family: 'MillerBold', sans-serif;
    color: rgb(56, 36, 0);
}

.products__item-descr {
    font-size: 14px;
    color: rgb(24, 26, 26);
    line-height: 1.286;
    height: 49px;
    margin: 14px 0 15px 0;
}

.products__action-btn {
    width: 242px;
    height: 50px;
    padding: 17px;
}

.order {
    padding: 120px 0 115px 0;
    overflow: hidden;
}

.order .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.order__text {
    max-width: 384px;
}

.order__text-title {
    font-size: 35px;
    font-family: 'MillerExtraBold', sans-serif;
    margin-bottom: 65px;
}

.order__text-message {
    font-size: 16px;
    color: rgb(185, 145, 80);
    line-height: 1.5;
}

.order__input {
    border-width: 1px;
    border-color: rgb(185, 145, 80);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 330px;
    font-size: 18px;
    color: rgb(119, 94, 49);
    padding: 23px 22px 24px 23px;
    margin-bottom: 24px;
    box-sizing: border-box;
    height: 60px;
}

.order__input::placeholder {
    color: rgb(203, 168, 110);
}

.order .btn {
    width: 330px;
    height: 60px;
}

.order__form {
    margin-left: 122px;
    max-width: 330px;
}

.order__image {
    width: 282px;
    position: relative;
    margin-left: 78px;
}

.order__image img {
    position: absolute;
    bottom: -35px;
    left: 0;
}

.footer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 13.8px 1.2px rgba(152, 152, 152, 0.2);
    padding: 16px 0 15px 0;
}

.footer .container {
    display: flex;
    align-items: center;
}

.rights {
    font-size: 12px;
    color: rgb(186, 179, 179);
    margin-left: 358px;
}

.burger {
    display: none;
}

.close {
    display: none;
}