.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /*подстраивает под мин.разсер 280px, а макс.размер занимает всё свободное пространство*/
  gap: 20px;
}

@media (max-width: 940px) {

  .cards__list {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  }
}
