@media (max-width: 1469px) {
    .header__content-images img {
        max-width: 100%;
    }

    .choose__color-list {
        flex-wrap: wrap;
    }

    .title {
        font-size: 180px;
        transform: translate(129px, 29px);
    }
}
@media (max-width: 1349px){
    .title{
        transform: none;
        font-size: 140px;
        padding-top: 20vh;
        left: 0;
        right: 0;
        text-align: center;
    }
    .title--pod{
        z-index: 1;
    }
    .title--s{
        transform: none;
    }
    .title--m{
        transform: none;
    }
    .title--ax{
        transform: none;
    }
}
@media (max-width: 930px){
    .title{
        position: relative;
        font-size: 100px;
        padding-top: 0;
    }
    .title--m{
        padding-left: 15px;
    }
}
@media (max-width: 768px) {
    .title{
        font-size: 58px;
    }
    .choose-color {
        padding-bottom: 60px;
    }

    .choose__color-list {
        gap: 16px;
    }

    .main__title {
        font-size: 36px;
    }

    .composition {
        margin-bottom: 60px;
    }

    .case {
        padding: 60px 0;
    }

    .energy__title {
        padding-top: 60px;
        margin-bottom: 20px;
    }

    .energy__num {
        font-size: 110px;
        margin-bottom: 20px;
    }
}

@media (max-width: 560px) {
    .header{
        min-height: 30vh;
    }
    .header__top{
        align-items: flex-start;
    }
    .menu__list{
        flex-wrap: wrap;
        gap: 20px 40px;
    }
    .menu__item:first-child{
        margin-left: auto;
    }
    .menu__item-btn{
        margin-left: auto;
    }
    .menu__item-btn button{
        width: 250px;
    }
    .choose-color__text {
        margin-bottom: 40px;
    }

    .choose-color {
        padding-bottom: 40px;
    }

    .case {
        padding: 40px 0;
    }

    .composition__inner-text p {
        width: 100%;
    }

    .composition__inner {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }
}

@media (max-width: 414px) {
    .main__title,
    .choose-color__title {
        font-size: 28px;
    }

    .energy__num {
        font-size: 92px;
    }

    .case img {
        max-width: 100%;
    }

}
@media (max-width: 404px){
    .title{
        font-size: 50px;
    }
}